{%  extends 'base.html' %}

{% block head %}
    <title>Intelligent Grading Assistant</title>
{% endblock %}

{% block body %}
    <h1 class="heading">Intelligent Grading Assistant</h1>
    <br>
    <br>
    <br>

    # Have a text area to input text and display the criteria preferences
    <form class = "form" action="/" method="post">
        <textarea class="input" rows="45" cols="100" placeholder="Type your essay here!"></textarea>
        <br>
        <br>
        <br>
        <h3>Set your criteria preferences:</h3>
        <h4>1) Grammer<input class ="slider"  type="range" min="0" max="100"></h4>
        <h4>2) Spelling<input type="range"></h4>
        <h4>3) Complexity of sentences<input type="range"></h4>
        <br>
        <input type = submit>
    </form>

 {% endblock %}
