{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style>
.center {
  text-align: center;
  border: 3px 337ab7;
  padding: 20px;
  text-align: center;
  background:#337ab7;
  color: white;
  font-size: 40px;
}
</style>

<script>
function outputUpdate(age) {
    document.querySelector('#selected-age').value = age;
}
</script>

<div class="container-fluid p-3" style="border:3px solid #cecece padding:3px;">
	<div class="center">
		Intelligent Grading Assistant
	</div>
	
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">UTD Logo</a>
		</div>
	  </div>
	</nav>	
  </div>
  <hr>
  <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
    {{ form.csrf_token() }}

	<div class="row row-cols-2" style="padding:15px">
	<div class="col-lg-8">
		<div class="panel panel-primary">
				<div class="panel-heading">
				Essay
				</div>
				<div class="panel-body">
					{{ wtf.form_field(form.essay, class='form-control', style="height: 500px", placeholder='') }}
				</div>
				<div class="panel-footer"> </div>
		</div>
		<div class="panel panel-primary">
				<div class="panel-heading">
				Upload File
				</div>
				<div class="panel-body">
					<title>Upload new File</title>
					<h4>Upload new File</h4>
					<form method="post" enctype="multipart/form-data">
					  <input type="file" name="file">
					  <input type="submit" value="Upload">
					</form>
				</div>
				<div class="panel-footer">
					<div class="panel panel-primary" style="max-height:220px">
					<div class="panel-heading" >Preferences</div>
						<div class="panel-body" style="max-width:200px;">
							{{ wtf.form_field(form.range1,  style ="height:15px; width:75px", class='form-control', placeholder='20') }}
							{{ wtf.form_field(form.range2,  style ="height:15px; width:75px", class='form-control', placeholder='20') }}
							{{ wtf.form_field(form.range3,  style ="height:15px; width:75px", class='form-control', placeholder='20') }}
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Evaluate</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{ wtf.form_field(form.score, class='form-control', placeholder='Score') }}
				{{ wtf.form_field(form.grade, class='form-control', placeholder='Grade') }}
			</div>
			<div class="panel-body">
				{{ wtf.form_field(form.response, class='form-control', style="height: 300px", placeholder='') }}
				{{ wtf.form_field(form.error, class='form-control', style="height: 200px", placeholder='') }}
			</div>	
		</div>
	</div>
</div>
	
   
 </form>
 <hr>
 
</div>
{% endblock %}
