{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style>
.center {
  text-align: center;
  border: 3px 337ab7;
  padding: 20px;
  text-align: center;
  background:#337ab7;
  color: white;
  font-size: 40px;
  }
.color {
  color:darkblue;
  font-size:20px;
  }

  
</style>


<script>
function outputUpdate(age) {
    document.querySelector('#selected-age').value = age;
}
</script>

<div class="container-fluid p-3" style="border:3px solid #cecece padding:3px;">
	<div class="center">
		Intelligent Grading Assistant
	</div>
	
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">UTD Logo</a>
		</div>
	  </div>
	</nav>	
  </div>
  <hr>
  <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
    {{ form.csrf_token() }}

	<div class="row row-cols-2" style="padding:15px">
	<div class="col-lg-8">
		<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-heading row">
						<div class = "col-md-3">
							Enter essay or upload file: 
						</div>
						<div class="col-md-3" style="padding:0; width:5px;">
						 <form method="post" enctype="multipart/form-data">
							  <input  type="file" name="file" >
						 </form>
						</div>
					</div>
				</div>
				<div class="panel-body">
					{{ wtf.form_field(form.essay, class='form-control', style="height: 500px", placeholder='') }}
				</div>
				
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
					Preferences
			</div>
			<div class="panel-body">
				<div class="panel-body" style="float:left; width:33.33%; height:100%;">
					<div class = "color">Rubric</div>
						{{ wtf.form_field(form.rubric_range1,  style ="height:15px; width:75px; margin-left:20px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.rubric_range2,  style ="height:15px; width:75px; margin-left:8px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.rubric_range3,  style ="height:15px; width:75px; margin-left:34px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.rubric_range4,  style ="height:15px; width:75px; margin-left:34px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.rubric_range5,  style ="height:15px; width:75px; margin-left:40px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.rubric_range6,  style ="height:15px; width:75px; margin-left:12px", class='form-control.inline', placeholder='20') }}
				</div>
				<div class="panel-body" style="float:left; width:33.33%; height:100%;">
					<div class="color">Weights</div>
						{{ wtf.form_field(form.weights_range1,  style ="height:15px; width:75px; margin-left:68px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range2,  style ="height:15px; width:75px; margin-left:8px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range3,  style ="height:15px; width:75px; margin-left:34px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range4,  style ="height:15px; width:75px; margin-left:38px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range5,  style ="height:15px; width:75px; margin-left:27px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range6,  style ="height:15px; width:75px; margin-left:25px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range7,  style ="height:15px; width:75px; margin-left:30px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range8,  style ="height:15px; width:75px; margin-left:27px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range9,  style ="height:15px; width:75px; margin-left:85px", class='form-control.inline', placeholder='20') }}
						{{ wtf.form_field(form.weights_range10,  style ="height:15px; width:75px; margin-left:60px", class='form-control.inline', placeholder='20') }}
				</div>
				<div class="panel-body" style="float:left; width:33.33%; height:100%;">
					<div class="color">Style</div>
							{{ wtf.form_field(form.style_range1,  style ="height:25px; width:145px; margin-left:80px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range2,  style ="height:15px; width:75px; margin-left:85px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range3,  style ="height:15px; width:75px; margin-left:25px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range4,  style ="height:15px; width:75px; margin-left:22px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range5,  style ="height:15px; width:75px; margin-left:10px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range6,  style ="height:15px; width:75px; margin-left:40px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range7,  style ="height:15px; width:75px; margin-left:35px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range8,  style ="height:15px; width:75px; margin-left:40px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range9,  style ="height:15px; width:75px; margin-left:17px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range10,  style ="height:15px; width:75px; margin-left:30px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range11,  style ="height:15px; width:75px; margin-left:40px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range12,  style ="height:15px; width:75px; margin-left:65px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range13,  style ="height:15px; width:75px; margin-left:68px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range14,  style ="height:15px; width:75px; margin-left:70px", class='form-control.inline', placeholder='20') }}
							{{ wtf.form_field(form.style_range15,  style ="height:15px; width:75px; margin-left:70px", class='form-control.inline', placeholder='20') }}
				</div>
				
				<div class="panel-footer" style="float:left; width:100%; height:100%">
						<button type="submit" class="btn btn-primary">Evaluate</button>
						<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{ wtf.form_field(form.grade, class='form-control', placeholder='Grade') }}
			</div>
			<div class="panel-body">
				{{ wtf.form_field(form.response, class='form-control', style="height: 300px", placeholder='') }}
				{{ wtf.form_field(form.error, class='form-control', style="height: 200px", placeholder='') }}
			</div>	
		</div>
	</div>
</div>
	
   
 </form>
 <hr>
 
</div>
{% endblock %}
